////////////FONTS/////////////

@import url("https://use.typekit.net/ggb0ndc.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$title-font: sweet-sans-pro, sans-serif;
$p-font: 'Manrope', sans-serif;

$h1: 9rem;
$h2: 3rem;
$h3: 2.25rem;
$p: 1.25rem;
$a: 1.5rem;

////////////COULEURS/////////////

$primary: #66a7c8;
$secondary: #8dbbd1;
$noir: rgb(21, 21, 21);
$gris: rgb(173, 173, 173);


