
// SINGLE //

.single{

    h1{
        line-height: 1em;
    }

    h2{
        display: flex;
        justify-content: end;
    }

    .link-primary{
        margin: 100px auto;
    }

    .single-project{
        display: flex;
        margin: 150px 0 100px 0;
    
        // img{
        //     width: 45vw;
        // }

        .splide__slide img {
            width: 100%;
            height: auto;
          }
    
        .single-project-notes{
            display: flex;
            flex-direction: column;
            margin-left: 5vw;
            justify-content: space-between;
    
            .single-infos{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2vw;
            }

            .single-description{
                margin-bottom: 2vw;
            }
        }
    }

    .following-projects{
        display: flex;
        justify-content: space-between;
        
        img{
            width: 35px;
            vertical-align: text-bottom;
            padding: 0 20px;
        }
    }

    .splide{
        width: 40vw;

        *{
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        .splide__pagination{
            bottom: 0;
        }

        .splide__splide{
            img{
                object-fit: contain;
                box-shadow: 5px 5px 19px 0px $gris;
                border-radius: 20px;
            }
            
        }

    }
    // RESPONSIVE //

    @media screen and (max-width: 48rem){

        .single-project{
            display: block;
            margin: 10vw 0;

            img{
                width: 100%;
                margin-bottom: 7vw;
            }

            .single-project-notes{
                margin: 0;

                .single-infos, .single-description{
                    margin-bottom: 7vw;
                }

            }
        }

        .following-projects{

            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 12vw;

            a{
                display: block;
                width: 45%;
            }

            :first-child{
                text-align: start;
            }

            :last-child{
                text-align: end;
            }

            img{
                width: 7vw;
                vertical-align: text-bottom;
                padding: 0 10px;
            }
        }
    }

}



