@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/*HEADER*/
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/ggb0ndc.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("_components/variables");
header {
  display: flex;
  justify-content: space-between;
}
header .avatar-img {
  width: 25vw;
  margin-left: 50px;
}
header .info-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .info-header .titre-header {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
header .info-header h1 span {
  top: -109px;
  right: 15%;
}

.contact {
  text-align: end;
}
.contact ul {
  list-style-type: none;
}
.contact li {
  margin-top: 5px;
}
.contact li img {
  width: 35px;
  vertical-align: text-bottom;
  margin-left: 20px;
}

@media screen and (max-width: 48rem) {
  header {
    display: block;
  }
  header .avatar-img {
    width: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vw;
    margin: 30px;
  }
  header .info-header {
    display: block;
  }
  header .info-header .titre-header h1 {
    text-align: end;
  }
  header .info-header .titre-header h1 span {
    top: -54px;
    right: 36px;
  }
  header .info-header .titre-header h2 {
    margin: 20px 0 30px 0px;
  }
}
/* GENERAL */
h1, h2, h3 {
  font-family: sweet-sans-pro, sans-serif;
  margin: 0;
  color: rgb(21, 21, 21);
}

h1 {
  display: flex;
  text-align: end;
  flex-direction: column;
  font-size: 9rem;
  font-weight: 600;
}
h1 span {
  position: relative;
  height: 4vw;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 100px;
}
h2 span {
  background-image: linear-gradient(to right, rgba(17, 168, 228, 0.2) 100%, rgba(17, 168, 228, 0.2) 100%);
  background-position: 0 45px;
  background-size: 110% 30%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-repeat: no-repeat;
}

h3 {
  font-size: 2.25rem;
  font-weight: 500;
}

p, a {
  font-family: "Manrope", sans-serif;
  color: rgb(21, 21, 21);
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: underline;
  font-size: 1.5rem;
  position: relative;
}

p {
  font-size: 1.25rem;
}

button {
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  background: none;
  padding: 5px 30px;
  box-shadow: 2px 2px 10px 0px grey;
  transition: all 0.5s ease-out;
}
button a {
  text-decoration: none;
  font-weight: 600;
}

button:hover, button:focus {
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  box-shadow: none;
}

@media screen and (max-width: 48rem) {
  a {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 4.3rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 45px;
  }
  h2 span {
    background-position: 0 27px;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
  }
}
/* DOT BACKGROUND */
nav, body {
  background-image: linear-gradient(rgba(206, 164, 115, 0.119), rgba(206, 164, 115, 0.119)), url("/images/dotsV3.png");
  background-repeat: repeat;
  background-size: 65%;
}

/* LAYOUT */
body {
  margin: 0;
}

.content {
  color: #333;
  margin: 110px 60px 0px 60px;
}

.carousel {
  position: relative;
}
.carousel .carousel-item {
  height: 300px;
  background-color: gray;
  padding: 1em;
  display: none;
}
.carousel .carousel-item--selected {
  display: block;
}
.carousel .carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel .carousel-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.carousel .carousel-button--selected, .carousel .carousel-button:hover {
  background: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 48rem) {
  .content {
    margin: 70px 15px 0px 15px;
  }
}
/* FOOTER */
footer {
  margin-top: 100px;
  padding: 50px 50px 30px 50px;
  box-shadow: 0px 15px 20px 10px grey;
  border-radius: 35px 35px 0px 0px;
}
footer .infos-footer {
  display: flex;
  justify-content: space-between;
}
footer .infos-footer .pub-footer {
  display: flex;
  width: 40vw;
  flex-direction: column;
}
footer .infos-footer .pub-footer :first-child {
  margin-bottom: 30px;
}
footer .infos-footer .liens-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
}
footer .last {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .last .logo {
  width: 70px;
}
@media screen and (max-width: 48rem) {
  footer {
    padding: 20px 15px;
  }
  footer .infos-footer {
    display: block;
  }
  footer .infos-footer .pub-footer {
    width: 100%;
  }
  footer .infos-footer .liens-footer {
    margin-top: 20px;
    align-items: start;
  }
  footer .infos-footer .liens-footer .contact ul {
    padding: 0;
  }
  footer .infos-footer .liens-footer .contact ul li {
    margin-top: 15px;
  }
  footer .infos-footer .liens-footer .contact a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  footer .infos-footer .liens-footer .contact a img {
    margin: 0 10px 0 0;
  }
  footer .last {
    width: 100%;
  }
}

/* NAVIGATION */
nav {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 8px 60px;
  background-color: gray;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  border-radius: 0px 0px 35px 35px;
  box-shadow: 0px -15px 15px 10px grey;
}
nav .nav-items {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav a span {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%);
  background-position: 0 45px;
  background-size: 100% 5%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-repeat: no-repeat;
}

.logo {
  width: 60px;
}

@media screen and (max-width: 48rem) {
  .logo {
    width: 60px;
  }
  nav {
    padding: 5px 30px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  nav .nav-items {
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
  }
}
/*ACCUEIL*/
/* QUI SUIS-JE */
.qui-suis-je {
  width: 80vw;
  margin: 160px auto;
}
.qui-suis-je h2 {
  text-align: center;
}
.qui-suis-je .presentation {
  display: flex;
  justify-content: space-between;
}
.qui-suis-je .presentation img {
  width: 10vw;
}
.qui-suis-je .presentation .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}
.qui-suis-je .presentation .intro a {
  margin-top: 30px;
}

/* LISTE 3 PROJETS ACCUEIL*/
.projets-accueil {
  margin: 160px auto;
}
.projets-accueil h2 {
  text-align: center;
}
.projets-accueil .voir-plus-projets {
  margin: 50px auto;
  display: flex;
}

.projet-preview {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.projet-preview .description-preview {
  margin-left: 130px;
}
.projet-preview .description-preview .titres-preview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.projet-preview .description-preview .titres-preview p {
  align-items: center;
  display: flex;
}
.projet-preview img {
  width: 35vw;
  box-shadow: 5px 5px 19px 0px grey;
  border-radius: 20px;
}
.projet-preview button.voir-plus {
  display: flex;
  margin: 30px 0 0 auto;
}

@media screen and (max-width: 48rem) {
  .projets-accueil {
    margin: 100px 0;
  }
  .projet-preview {
    display: block;
  }
  .projet-preview img {
    width: 100%;
  }
  .projet-preview .description-preview {
    margin: 0;
  }
  .projet-preview .description-preview .titres-preview {
    margin: 20px 0 40px 0px;
  }
}
.single h1 {
  line-height: 1em;
}
.single h2 {
  display: flex;
  justify-content: end;
}
.single button {
  display: flex;
  margin: 130px auto;
}
.single .following-projects {
  display: flex;
  justify-content: space-between;
}
.single .following-projects img {
  width: 35px;
  vertical-align: text-bottom;
  padding: 0 20px;
}
.single .single-project {
  display: flex;
  margin: 150px 0 60px 0;
}
.single .single-project img {
  width: 45vw;
}
.single .single-project .single-project-notes {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  justify-content: space-between;
}
.single .single-project .single-project-notes .single-infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}
.single .single-project .single-project-notes .single-description {
  margin-bottom: 2vw;
}
@media screen and (max-width: 48rem) {
  .single .single-project {
    display: block;
    margin: 10vw 0;
  }
  .single .single-project img {
    width: 100%;
    margin-bottom: 7vw;
  }
  .single .single-project .single-project-notes {
    margin: 0;
  }
  .single .single-project .single-project-notes .single-infos, .single .single-project .single-project-notes .single-description {
    margin-bottom: 7vw;
  }
  .single button {
    margin: auto;
  }
  .single .following-projects {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 12vw;
  }
  .single .following-projects a {
    display: block;
    width: 45%;
  }
  .single .following-projects :first-child {
    text-align: start;
  }
  .single .following-projects :last-child {
    text-align: end;
  }
  .single .following-projects img {
    width: 7vw;
    vertical-align: text-bottom;
    padding: 0 10px;
  }
}

/* PAGE LISTE PROJET */
.list-projet {
  margin: 160px 0;
}
.list-projet h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.span-projet {
  top: -119px;
  right: 74px;
}

.card-project {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 450px;
  width: 100%;
  height: 280px;
  text-align: left;
  box-shadow: 5px 5px 19px 0px grey;
  border-radius: 20px;
}
.card-project * {
  transition: all 0.35s ease;
}
.card-project img {
  max-width: 100%;
  vertical-align: top;
}
.card-project figcaption {
  position: absolute;
  top: 75%;
  width: 90%;
  background-color: rgba(106, 106, 106, 0.8392156863);
  padding: 10px 25px 25px;
  background-image: linear-gradient(rgba(206, 164, 115, 0.119), rgba(206, 164, 115, 0.119)), url("/images/dotsV3.png");
  background-size: auto;
  box-shadow: 0px 15px 20px 10px grey;
  z-index: 0;
}
.card-project figcaption h3, .card-project figcaption p {
  margin: 0 -10px 10px;
  z-index: 1;
}
.card-project .card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.card-project:hover figcaption, .card-project.hover figcaption {
  top: 140px;
}/*# sourceMappingURL=main.css.map */