/* NAVIGATION */
  
.site-nav {
    display: flex;
  }
  
  .site-nav a {
    display: block;
    padding: 1rem;
  }
  
  .site-nav .logo {
    width: 100px;
    height: 100px;
  }
  
  .main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
      flex-direction: column;
    }
  
    .site-nav a {
      padding: 0.5rem;
      padding-left: 0;
    }
  }