{{ partial "head.html" . }}

<header>
  <img class="avatar-img" src="/images/canard.png" alt="">
  <div class="titre-header"></div>
    <h1>Mes
      <span class="span-projet">projets</span>
    </h1>
  </div>
</header>

<article class="list-projet">
  <h2><span>Quelques unes de mes réalisations</span></h2>

  <section class="cards">

    {{ range (.Pages.ByParam "ordre") }}

    <figure class="card-project">
      <img src="{{ .Params.illustration1 }}" alt="">
      <figcaption>
        <h3>{{ .Params.title }}</h3>
        <p>{{ .Params.tags }}</p>
        <!-- <a href="{{ .Params.url }}" class="voir-plus">Voir plus</a> -->
      </figcaption>
      <a href="{{ .Params.url }}" class="card-hover"></a>
    </figure>

    {{ end }}

  </section>
  
</article>




{{ partial "footer.html" . }}
