{{ partial "head.html" . }}




<header>
  <img class="avatar-img" src="https://mdg.imgix.net/assets/images/san-juan-mountains.jpg?auto=format&fit=clip&q=40&w=1080" alt="">
  <div class="titre-header"></div>
    <h1>Mes
      <span class="span-projet">projets</span>
    </h1>
  </div>
</header>

<article class="list-projet">

  <h2>Pour l'instant juste h2</h2>

  <!-- {{ .Content }} -->

  {{ range.Data.Pages }}

  <div class="projet-preview">
    <img class="img-projet-preview" src="{{ .Params.illustration }}" alt="">
    <div class="description-preview">
        <div class="titres-preview">
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Params.subtitle1 }}</p>
        </div>
        <p>{{ .Params.description }}</p>
        <a href="{{ .Params.url }}" class="voir-plus">Voir plus</a>
    </div>
  </div>



  <!-- <article class="list-projet">
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
  </article> -->


</article>


{{ end }}

{{ partial "footer.html" . }}
