{{ partial "head.html" . }}

<section class="single">

    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.type }}</h2>

    <div class="carousel">
        <div class="carousel-item">Content #1</div>
        <div class="carousel-item">Content #2</div>
        <div class="carousel-item">Content #3</div>

    </div>

    <script src="/static/js/main.js"></script>

    <div class="single-project">
        <img src="{{ .Params.illustration1 }}" alt="{{ .Params.alt1 }}">
        <!-- <img src="{{ .Params.illustration2 }}" alt="{{ .Params.alt2 }}">
        <img src="{{ .Params.illustration3 }}" alt="{{ .Params.alt3 }}"> -->
        
        <div class="single-project-notes">
            <div class="single-infos">
                <p><b>{{ .Params.mois }}</b></p>
                <p><b>{{ .Params.nbrGroupe }}</b></p>
            </div>

            <div class="single-description">
                <p>{{ .Params.metaDescription }}</p>
                <br>
                <p>{{ .Params.description }}</p>
            </div>

            <p><b>Outils utilisés</b> : {{ .Params.outils }}</p>
        
        </div>

    </div>

    <button>
        <a href="{{ .Params.link }}">{{ .Params.libelle }}</a>
    </button>

    <div class="following-projects">
        <a href="{{ .Params.previous }}"><span><img src="/images/leftarrow.svg" alt=""></span>{{ .Params.previousLibelle }}</a>
        <a href="{{ .Params.next }}">{{ .Params.nextLibelle }}<span><img src="/images/rightarrow.svg" alt=""></span></a>
    </div>

</section>


{{ partial "footer.html" . }}
