<!DOCTYPE html>
<html lang="fr">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "nav.html" . -}}
        <main id="content">
            {{if .IsHome}}{{- partial "header.html" . -}}{{ end }}
            {{if and (not .IsPage) (not .IsHome) }}{{- partial "header-projects.html" . -}}{{ end }}

            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    </body>
</html>
