</main>
	
<footer>

	<div class="pub-footer">
		<h3>Merci de votre visite !</h3>
		<p>Je suis à la rechercher d’un stage à partir du mois d’avril pour une durée de 3 mois. Si mon profil vous intéresse, n’hésitez pas à me contacter ! </p>
		<p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
	</div>

	<div class="liens-footer">
		<a href="{{ .Site.BaseURL }}">
			<img src="/images/logoAT.svg" alt="logo" class="logo">
		</a>
		<div class="contact">
			<ul>
				<li><a href="www.linkedin.com/in/ayline-travers-a29087231">Linkedin</a></li>
				<li><a href="https://github.com/AylineT">Github</a></li>
				<li><a href="mailto:ayline.travers@gmail.com">ayline.travers@gmail.com</a></li>
			</ul>
		</div>
	</div>


</footer>

</body>
</html>
