<header class="site-header">
  <nav class="site-nav">

    <a href="{{ .Site.BaseURL }}">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXEATWbQM92AhQdOxAW42QJBXgCVBHXebiAd0Uu8csOI3yh9jJxfu4PfY5wwu0o9zSwBI&usqp=CAU" alt="" class="logo">
    </a>

    <div class="nav-items">
      <a href="{{ .Site.BaseURL }}">Accueil</a>
      <a href="/projets/">Projets</a>
    </div>

    

    <!-- <ul class="main-menu">
      {{ range.Site.Menus.main }}  boucle for each 
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul> -->


  </nav>
</header>
