<header class="site-header">
  <nav class="site-nav">

    <a href="{{ .Site.BaseURL }}">
      <img src="C:\Users\33781\Documents\5. Code\portfolio2.0\resources\_gen\images\canard.png" alt="" class="logo">
    </a>


    <a href="{{ .Site.BaseURL }}">Accueil</a>
    <a href="/projets/">Projets</a>



    <!-- <ul class="main-menu">
      {{ range.Site.Menus.main }}  boucle for each 
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul> -->


  </nav>
</header>
