{{ define "main" }}

<section class="projets-accueil">

    <h2><span>Mes projets</span></h2>
   
    <div class="projet-preview">
        {{ with .GetPage "/projets/bouillotte-et-culotte.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/au-bord-des-rues.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/we-bike.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <a class="link-primary all-projects" href="/projets/">Voir tous les projets</a>

</section>

<section class="qui-suis-je">
    <div class="presentation">
        <img class="qui-img" src="/assets/images/avatarV3.png" alt="">
        <div class="intro">
            <h2><span>Qui suis-je ?</span></h2>
            <p>Hello ! Moi c’est Ayline, j’ai 19 ans et je suis en deuxième année de BUT MMI, Métiers du Multimédia et d’Internet à l’IUT Bordeaux Montaigne. J’aime beaucoup apprendre de nouvelles choses, notamment en développement web, un domaine pour lequel je me suis découvert un fort attrait durant ma première année d’étude. Je suis aussi intéréssée par le webdesign, l’UI et l’UX qui sont pour moi des puits de créativité inépuisables. 
                En dehors de ça, je suis passionée de musique et d’art de manière générale. waouh beau blabla</p>
            <a href="#"><span><img src="/assets/images/iconCV.svg" alt="icône CV"></span>Mon CV</a>
        </div>
    </div>
</section>

{{ end }}