{{ define "main" }}

<section class="projets-accueil">

    <h2><span>Mes projets</span></h2>
   
    <div class="projet-preview">
        {{ with .GetPage "/projets/bouillotte-et-culotte.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/galerie-immaculee.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/we-bike.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <time>{{ .Params.mois }}</time>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <a class="link-primary" href="{{ .Params.url }}">Découvrir le projet</a>
        </div>
        {{ end }}
    </div>

    <a class="link-primary all-projects" href="/projets/">Voir tous les projets</a>

</section>

<section class="qui-suis-je">
    <div class="presentation">
        <img class="qui-img" src="/assets/images/avatarV3.webp" alt="">
        <div class="intro">
            <h2><span>Qui suis-je ?</span></h2>
            <p>Hello ! Moi c’est Ayline, j’ai 19 ans et je suis en deuxième année de <b>BUT MMI</b>, <b>Métiers du Multimédia et d’Internet à l’IUT Bordeaux Montaigne</b>. 
                Grâce à mes études, j'ai découvert la production web, dont le <b>web design</b> et le <b>développement web</b>. Je souhaite acquérir plus de compétences dans ces domaines et pourquoi pas en faire mon métier.
                <br><br>En dehors de ça, j'aime beaucoup découvrir de nouvelles choses, je suis passionnée de musique et j'adore agrandir ma collection de plantes !</p>
            <a href="/assets/cvAylineTravers.pdf" target="_blank"><span><img src="/assets/images/iconCV.svg" alt="icône CV"></span>Mon CV</a>
        </div>
    </div>
</section>

{{ end }}