{{ partial "head.html" . }}

<header>
    <img class="avatar-img" id="avatar" src="/images/canard.png" alt="">
    <div class="info-header">
        <div class="titre-header">
            <h1>Ayline
                <span>Travers</span>
            </h1> 
            <h2><span>Développeuse Web & Designeuse</span></h2>
        </div>
        <div class="contact">
            <ul>
                <li><a href="www.linkedin.com/in/ayline-travers-a29087231">Linkedin<span><img src="/images/iconLinkedin.svg" alt="icône linkedin"></span></a></li>
                <li><a href="https://github.com/AylineT">Github<span><img src="/images/iconGithub.svg" alt="icône Github"></span></a></li>
                <li><a href="mailto:ayline.travers@gmail.com">ayline.travers@gmail.com<span><img src="/images/iconMail.svg" alt="icône Mail"></span></a></li>
            </ul>
        </div>
    </div>
</header>

<section class="projets-accueil">

    <h2><span>Mes projets</span></h2>
   
    <div class="projet-preview">
        {{ with .GetPage "/projets/bouillotte-et-culotte.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <p>{{ .Params.mois }}</p>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <button class="voir-plus"><a href="{{ .Params.url }}">Voir plus</a></button>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/au-bord-des-rues.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <p>{{ .Params.mois }}</p>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <button class="voir-plus"><a href="{{ .Params.url }}">Voir plus</a></button>
        </div>
        {{ end }}
    </div>

    <div class="projet-preview">
        {{ with .GetPage "/projets/we-bike.md" }}
        <a href="{{ .Params.url }}"><img class="img-projet-preview"src="{{ .Params.illustration1 }}" alt=""></a>
        <div class="description-preview">
            <div class="titres-preview">
                <h3>{{ .Params.title }}</h3>
                <p>{{ .Params.mois }}</p>
            </div>
            <p>{{ .Params.metaDescription }}</p>
            <button class="voir-plus"><a href="{{ .Params.url }}">Voir plus</a></button>
        </div>
        {{ end }}
    </div>

    <button  class="voir-plus-projets">
        <a href="/projets/">Voir tous les projets</a>
    </button>

</section>

<section class="qui-suis-je">
    <h2><span>Qui suis-je ?</span></h2>
    <div class="presentation">
        <div class="intro">
            <p>Hello ! Moi c’est Ayline, j’ai 19 ans et je suis en deuxième année de BUT MMI, Métiers du Multimédia et d’Internet à l’IUT Bordeaux Montaigne. J’aime beaucoup apprendre de nouvelles choses, notamment en développement web, un domaine pour lequel je me suis découvert un fort attrait durant ma première année d’étude. Je suis aussi intéréssée par le webdesign, l’UI et l’UX qui sont pour moi des puits de créativité inépuisables. 
                En dehors de ça, je suis passionée de musique et d’art de manière générale. waouh beau blabla</p>
            <a href="#">Mon CV</a>
        </div>
        <img class="qui-img" src="/images/avatarV3.png" alt="">
    </div>
</section>



{{ .Content }}

{{ partial "footer.html" . }}
