@import "variables.scss";

/* FOOTER */

footer{
    margin-top: 100px;
    padding: 50px 50px 30px 50px;
    box-shadow: 0px 15px 20px 10px grey;
    border-radius: 35px 35px 0px 0px ;

    .infos-footer{
        display: flex;
        justify-content: space-between;

        .pub-footer{
            display: flex;
            width: 40vw;
            flex-direction: column;

            :first-child{
                margin-bottom: 30px;
            }
        }
    
        .liens-footer{
            display: flex;
            flex-direction: column;
            align-items: end;
        }

    }

    .last{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo{
            width: 70px;
        }
    }



    // RESPONSIVE //

    @media screen and (max-width: 48rem){

        padding: 20px 15px;

        .infos-footer{
            display: block;

            .pub-footer{
                width: 100%;
            }

            .liens-footer{

                margin-top: 20px;
                align-items: start;

                .contact{

                    ul{
                        padding: 0;

                        li{
                            margin-top: 15px;
                        }
                    }
                    
                    a{
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        align-items: center;

                        img{
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }

        .last{
            width: 100%;
        }

    }
}