@import "variables.scss";

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;

    .avatar-img{
        width: 25vw;
        margin-left: 50px;
    }

    .info-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35vw;

        .titre-header{
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
        }   

        h1 {
            span{
                top: -109px; 
                right: 77px;
            }
        }
    
    }    

}

.contact{
    text-align: end;

    ul{
        list-style-type: none;
    }
    
}




