@import "variables.scss";

// SINGLE //


.single{

    h1{
        line-height: 1em;
    }

    h2{
        display: flex;
        justify-content: end;
    }

    button{
        display: flex;
        margin: 130px auto;
    }

    .following-projects{
        display: flex;
        justify-content: space-between;
        
        img{
            width: 35px;
            vertical-align: text-bottom;
            padding: 0 20px;
        }
    }

    .single-project{
        display: flex;
        margin: 150px 0 60px 0;
    
        img{
            width: 45vw;
        }
    
        .single-project-notes{
            display: flex;
            flex-direction: column;
            margin-left: 5vw;
            justify-content: space-between;
    
            .single-infos{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2vw;
            }

            .single-description{
                margin-bottom: 2vw;
            }
        }
    }

    @media screen and (max-width: 48rem){

        .single-project{
            display: block;
            margin: 10vw 0;

            img{
                width: 100%;
                margin-bottom: 7vw;
            }

            .single-project-notes{
                margin: 0;

                .single-infos, .single-description{
                    margin-bottom: 7vw;
                }

            }
        }

        button{
            margin: 0;
        }

        .following-projects{

            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 12vw;

            a{
                display: block;
            }

            :first-child{
                text-align: start;
            }

            :last-child{
                text-align: end;
            }

            img{
                width: 7vw;
                vertical-align: text-bottom;
                padding: 0 10px;
            }
        }
    }

}



