<!-- </main>-->

<footer>

	<div class="infos-footer">
		<div class="pub-footer">
			<h3>Merci de votre visite !</h3>
			<p>Je suis à la recherche d’un <b>stage à partir du 17 avril jusqu'au 30 juin</b>. Si mon profil vous intéresse, n’hésitez pas à me contacter ! </p>
		</div>
	
		<div class="liens-footer">
			<div class="contact">
				<ul>
					<li><a href="https://www.linkedin.com/in/ayline-travers/" target="_blank">Linkedin<span><img src="/assets/images/iconLinkedin.svg" alt="icône linkedin"></span></a></li>
					<li><a href="https://github.com/AylineT" target="_blank">Github<span><img src="/assets/images/iconGithub.svg" alt="icône Github"></span></a></li>
					<li><a href="mailto:ayline.travers@gmail.com" target="_blank">ayline.travers@gmail.com<span><img src="/assets/images/iconMail.svg" alt="icône Mail"></span></a></li>
					<li><a href="#">Mon CV<span><img src="/assets/images/iconCV.svg" alt="icône Mail"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="last">
		<a href="#">Plan du site</a>
		<a href="{{ .Site.BaseURL }}">
			<img src="/assets/images/logoV3.svg" alt="logo" class="logo">
		</a>
		<p>&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
	</div>


</footer>
