<header>
    <img class="header-img" id="avatar" src="/assets/images/plantes.png" alt="">
    <div class="info-header">
        <div class="titre-header">
            <h1>Ayline
                <span>Travers</span>
            </h1> 
            <h2><span>Développeuse Web & Designeuse</span></h2>
        </div>
        <div class="contact">
            <ul>
                <li><a href="https://www.linkedin.com/in/ayline-travers/" target="_blank">Linkedin<span><img src="/assets/images/iconLinkedin.svg" alt="icône linkedin"></span></a></li>
                <li><a href="https://github.com/AylineT" target="_blank">Github<span><img src="/assets/images/iconGithub.svg" alt="icône Github"></span></a></li>
                <li><a href="mailto:ayline.travers@gmail.com" >ayline.travers@gmail.com<span><img src="/assets/images/iconMail.svg" alt="icône Mail"></span></a></li>
            </ul>
        </div>
    </div>
</header>