<head>
    {{ $main_options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
    {{ $main_template := resources.Get "scss/main.scss" }}
    {{ $main_style := $main_template | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $main_options | resources.Minify }}
    
    <link rel="stylesheet" href="{{ $main_style.RelPermalink }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css"/>
    <!-- <link rel="stylesheet" href="/splide/splide.min.css">
    <script src="/splide/splide.js"></script> -->

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Site.Title }} - {{ .Title }}</title>

    {{ with .OutputFormats.Get "rss" -}}
		  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	  {{ end -}}
</head>

